@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
}

body {
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background: #9bcaee;
}

.heading {
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    animation: slideInFade 1s forwards;
}

canvas {
  box-shadow: -3px 2px 9px 6px black;
  cursor: pointer;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0 10px;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: #fff;
  background: #222;
  font-weight: bold;
  margin: 0 10px;
}

.color-picker {
  align-self: center;
  margin: 0 10px;
  height: 50px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

@keyframes slideInFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}